/** Styles */

.vp-preview {
  background-image: url("../assets/smart_phone_ovel_notch_outline_for_ui_ux_design.jpg");
  background-repeat: no-repeat;
  width: 446px;
  height: 948px;
  position: relative;
}


.vp-preview .vp-preview-content {
  background-color: #efefef;
  text-align: center;
  position: absolute;
  margin: 72px 36px;
  width: 380px;
  height: 762px;
  display: inline-block;
}


.container-right {
  float: right;
  min-width: 440px;
}


.warning-message--player {
  margin-top: 64px;
  text-align: center;
  font-family: monospace;
  font-size: 1.1em;
}
